.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 3em;
  font-size: 1.7vw;
  border-radius: 2em;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.322);
  box-shadow: -5px -5px 6px rgba(255, 255, 255, 0.664), 5px 5px 8px rgba(94, 104, 121, 0.158);
}