.button-wrapper {
  margin-left: 1.6vw;
  margin-right: 1.6vw;
  margin-bottom: 1.6vw;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vw;
  width: 5vw;
  font-size: 1.7vw;
  border-radius: 2em;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.7);
}

.button:hover {
  cursor: pointer;
}

.button:active {
  color: rgba(20, 40, 100, 0.4);
  background-color: rgba(255, 255, 255, 0.9);
}