html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: rgba(40, 45, 100, 0.85);
  background: linear-gradient(45deg, rgba(255, 134, 112, 0.4) 10%, rgba(28, 149, 230, 0.644) 50%, rgba(177, 223, 252, 0.63) 88%);

}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}