.display {
  margin-bottom: 1.4vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  border-radius: 1.5em;
  height: 9vw;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgba(255, 255, 255, 0.7);

}

.memoryState {
  flex: 1;
  margin-top: 0.5vw;
  font-size: 1.3vw;
  align-self: flex-start;
  max-height: 0vw;
  margin-left: 0.2vw;
}

.result {
  margin-top: 1.2vw;
  flex: 1;
  font-size: 3.4vw;
}

.equation {
  min-height: 1.4em;
  flex: 1;
  font-size: 1.65vw;
}